* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background: #f0ffff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.calculator-container {
  display: grid;
  width: 420px;
  height: 520px;
  border-radius: 1%;
  background: black;
  grid-template-columns: repeat(4, 1fr);
  border: 10px solid black;
  gap: 4px;
}

.item {
  outline: 2px solid black;
  display: grid;
  place-items: center;
}

.display {
  font-size: 2rem;
  background: #b2b9b7;
  grid-column: span 4;
  justify-content: flex-end;
  padding-right: 10px;
  margin: 5px 5px;
}

.button {
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.number {
  background: #207c7e;
}

.special-operator {
  background: #1d90ff;
}
.operator {
  background: #ff901f;
}

.zero {
  grid-column: span 2;
}
