* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  display: grid;
  width: 420px;
  height: 520px;
  border-radius: 1%;
  background: black;
  grid-template-columns: repeat(4, 1fr);
  border: 10px solid black;
}

.item {
	outline: 2px solid black;
}

.display {
  background: #b2b9b7;
  grid-column: span 4;
}

.number {
  background: #207c7e;
  gap: 10px 10px;
}

.special-operator {
  background: #1d90ff;
}
.operator {
  background: #ff901f;
}

.zero {
	grid-column: span 2;
}